@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
a{text-decoration:none;}
body{font-family:'微软雅黑'  !important;}
li{list-style:none;}
img {border:none;display:block;}
area{outline:none;}
body{background:#DDDDDD;}
input{display:block;}
li{list-style:none;}
/*#login{display:none;}
#userInfo{display:none;}*/
#login{display:block;}
.boxHeader{width:100%;height:40px;background:#FC0;}
.menu{width:1000px;margin:0 auto;overflow:hidden;}
.menu li{width:70px;float:left;margin:0 20px;    cursor: pointer;height:40px;line-height:40px;text-align:center;}
.menu li a{color:#FFF;}
.menu li.font{height:37px;border-bottom:3px solid #666;}
.menu li.font a{font-weight:bold;}
.header{width:100%;overflow:hidden;background:url(/public/images/header.jpg) top center no-repeat;height:264px;}
.main {width: 1140px; margin: 35px auto;overflow:hidden;background:#FFF;}
/*.main .mainRight{width: 360px;  float: right;}
.main .mainRight .title {border-bottom: 1px solid #ebebeb; font-size: 18px; margin-bottom: 20px;}
.main .mainRight .title span { display: inline-block;  margin-bottom: -1px; height: 36px; line-height: 36px; border-bottom: 1px solid #e67e22; padding: 0px 20px 0px 0px;}
.main .mainRight .txt{    width: 210px;height: 34px; line-height: 34px;   border: 1px solid #ddd; background: none;  padding: 0px 5px;}
.main .mainRight .btn{    background: #e67e22;   width: 222px;  height: 34px; cursor: pointer;  border-radius: 3px;   color: #fff;text-transform: none;  font-size: 12px;outline:none;border:none;margin-top:10px;}
.main .mainRight .textRight .colMint { color: #48c5a3;}
.main .mainRight .txtMessage{color:#e67e22;font-size:16px;text-align:left;}*/

.main .mainLeft{width:780px;float:left;}
.main .mainLeft .listBox{width:600px;overflow:hidden;margin:20px auto;}
.main .mainLeft .listBox h1{font-size:24px;text-align:center;font-weight:bold;}
.main .mainLeft .listBox .colDefault{font-size:12px;color:#F60;text-align:center;}
.main .mainLeft .listBox .colDefault span{font-size:12px;color:#000;}
.main .mainLeft .listBox p{text-align:center;margin:20px auto;}
.main .mainLeft .listBox .function{width:65px;height:30px;text-align:center;line-height:30px;background:#F93;border-radius:10px;margin:0 auto}
.main .mainLeft .listBox .function a{font-size:14px;color:#FFF;}
